{% extends 'base.njk' %}
{% block content %}
<div style="width:100%; height:80px; background: #5D5D60;"></div>
<style>
bpdy {
    color:black;
}
  </style>

<main id="main">

  <!-- =======  F.A.Q Section ======= -->
    <section id="faq">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>{{ title }}</h2>
        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-9">

            {{ content | safe }}

          </div>
        </div>

      </div>

    </section><!-- End  F.A.Q Section -->
</main>
{% endblock %}