@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@500&display=swap');
.ach {
    font-family: 'Lateef', serif;
    color:#A1DCEB;
}

#main {
    background-image: url(https://generations.krea.ai/images/c966a1b3-85e5-45bc-a8af-97b21eee3367.webp);
}