backend:
  # Use netlify identity as backend
  name: git-gateway
  branch: master
  ### enable below lines for github integration ###
  # name: github
  # repo: surjithctly/neat-starter
media_folder: "/assets/img"
public_folder: "/assets/img"

editor:
  preview: false

# Please run "npx netlify-cms-proxy-server" for local backend
local_backend: true
# publish_mode: editorial_workflow


collections:
  - label: "CFP"
    name: "cfp"
    files:
      - label: "EN"
        name: "cfp-en"
        file: "/en/cfp.md"
        fields:
          - { label: Title, name: title, widget: string }
          - { label: Content, name: body, widget: markdown }
      - label: "ES"
        name: "cfp-es"
        file: "/es/cfp.md"
        fields:
          - { label: Title, name: title, widget: string }
          - { label: Content, name: body, widget: markdown }
  - label: "People"
    name: "people"
    files:
      - label: "EN-ES"
        name: "people-en"
        file: "/_data/people.yaml"
        fields:
          - label: ACH 2026 Committee
            name: conf_committee2026
            widget: "list"
            fields:
              - { label: Role, name: role, widget: string }
              - { label: Role (ES), name: role_es, widget: string }
              - label: Names
                name: names
                widget: "list"
                fields:
                  - { label: Name, name: name, widget: string }
                  - { label: Affiliation, name: affiliation, widget: string }
                  - { label: Affiliation (ES), name: affiliation_es, widget: string }
  
  - label: "Safety"
    name: 'safety'
    files:
      - label: "EN"
        name: "safety-en"
        file: "en/safety.md"
        fields:   
          - { label: Title, name: title, widget: string }
          - { label: Content, name: body, widget: markdown }
      - label: "ES"
        name: "safety-es"
        file: "es/seguridad.md"
        fields:   
          - { label: Title, name: title, widget: string }
          - { label: Content, name: body, widget: markdown }
      
  - label: "Registration"
    name: "registration"
    files:
      - label: "EN"
        name: "registration-en"
        file: "/en/registration.md"
        fields:
          - { label: Title, name: title, widget: string }
          - { label: Content, name: body, widget: markdown }
      - label: "ES"
        name: "registro-es"
        file: "/es/registro.md"
        fields:
          - { label: Title, name: title, widget: string }
          - { label: Content, name: body, widget: markdown }
          
  - label: "Reviewer Guidelines"
    name: 'reviewer-guidelines'
    files:
      - label: "EN"
        name: "reviewer-guidelines-en"
        file: "en/reviewer-guidelines.md"      
        fields:
          - { label: Title, name: title, widget: string }
          - { label: Content, name: body, widget: markdown }
      - label: "ES"
        name: "reviewer-guidelines-es"
        file: "es/lineamientos-para-revisores.md"      
        fields:
          - { label: Title, name: title, widget: string }
          - { label: Content, name: body, widget: markdown }
      
  - label: "Policies (EN)"
    name: 'polices-en'
    folder: "en/policies"
    create: true
    fields:
      - { label: Title, name: title, widget: string }
      - { label: Content, name: body, widget: markdown }
  - label: "Politicas (ES)"
    name: 'politicas-es'
    folder: "es/politicas"
    create: true
    fields:
      - { label: Title, name: title, widget: string }
      - { label: Content, name: body, widget: markdown }
  - label: "Sessions (EN)"
    name: "sessions"
    folder: "en/sessions"
    create: true
    fields:
      - { label: Day, name: day, widget: number, default: 2, value_type: int, min: 1, max: 3}
      - { label: Time, name: time, widget: datetime, time_format: HH:mm:ss, date_format: "YYYY-MM-DD" }
      - { label: Title, name: title, widget: string }
      - { label: Recording URL, name: recording, widget: string,required: false }
      - { label: Description, name: description, widget: text }
  - label: "Sesiones (ES)"
    name: "sesiones"
    folder: "es/sesiones"
    create: true
    fields:
      - { label: Day, name: day, widget: number, default: 2, value_type: int, min: 1, max: 3}
      - { label: Time, name: time, widget: datetime, time_format: HH:mm:ss, date_format: "YYYY-MM-DD" }
      - { label: Title, name: title, widget: string }
      - { label: Recording URL, name: recording, widget: string,required: false }
      - { label: Description, name: description, widget: text }
  - label: "Speakers (EN)"
    name: "speakers"
    folder: "en/speakers"
    create: true
    fields:
      - { label: Name, name: name, widget: string }
      - { label: Description, name: description, widget: string }
      - { label: Image, name: image, widget: image, choose_url: true, default: "https://t3.ftcdn.net/jpg/05/17/87/74/360_F_517877468_8dx0lFR66R6LIgCOUYJWxun1b3Muv272.jpg", allow_multiple: false }    
  - label: "Presentadores (ES)"
    name: "Presentadores"
    folder: "es/presentadores"
    create: true
    fields:
      - { label: Name, name: name, widget: string }
      - { label: Description, name: description, widget: string }
      - { label: Image, name: image, widget: image, choose_url: true, default: "https://t3.ftcdn.net/jpg/05/17/87/74/360_F_517877468_8dx0lFR66R6LIgCOUYJWxun1b3Muv272.jpg", allow_multiple: false } 