---
layout: default
aboutEvent: Une conférence virtuelle présentant les travaux des membres de la communauté ACH.

---
<!-- ======= Hero Section ======= -->
<section id="hero">
  <div style="overflow:hidden;">
          <iframe style="width:100%; height: 100vh; position:absolute; z-index: 2; opacity: 0.1;" src="https://glittery-clafoutis-927ba9.netlify.app/" frameborder="0"></iframe>
          <!-- Visualization by Amanda Ghassaei, https://amandaghassaei.com/   -->
    <div class="hero-container" >
    <img height="150" src="/assets/img/noun-care-7582892-4C25E1.png" / >
    <h1 class="mb-4 pb-0"><span class="ach">ach</span>2025</h1>
    <p class="mb-4 pb-0">11 juin - 13 juin 2025, Conférence virtuelle</p>
    <a target="_blank" href="https://members.ach.org/civicrm/event/info/?id=35&reset=1" class="about-btn scrollto">Inscrivez-vous</a>
     </div>
  </div>
  
 
</section><!-- End Hero Section -->

<main id="main">
 {% if settings.about %}

  <!-- ======= About Section ======= -->
  <section id="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-6">
          <h2>À propos de</h2>
          <p>{{ aboutEvent }}</p>
        </div>
        <div class="col-lg-3">
          <h3>Où</h3>
          <p>Virtuel</p>
        </div>
        <div class="col-lg-3">
          <h3>Quand</h3>
          <p>Du mercredi au vendredi<br>11 juin – 13 juin 2025</p>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->
{% endif %}
{% if settings.program %}
  <!-- ======= Schedule Section ======= -->
    <section id="schedule" class="section-with-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Programme</h2>
          <p></p>
        </div>

        <ul class="nav nav-tabs" role="tablist" data-aos="fade-up" data-aos-delay="100">
          <li class="nav-item">
            <a class="nav-link active" href="#day-1" role="tab" data-bs-toggle="tab">29 juin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#day-2" role="tab" data-bs-toggle="tab">30 juin</a>
          </li>
          <li class="nav-item">
            <a class=" are looking forward to seeing you next week at the Code4Lib 2025 Conference in Princeton, NJ! Please read on for some information to help you get settled into the conferencnav-link" href="#day-3" role="tab" data-bs-toggle="tab">1er juillet</a>
          </li>
        </ul>

        <h3 class="sub-heading">Ceci est notre horaire actuel. Une fois la session terminée, nous téléchargerons un enregistrement de chaque session lorsque cela sera possible.</h3>

        <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <!-- Schedule Day 1 -->
          <!-- https://stackoverflow.com/questions/11770367/use-javascript-to-convert-a-date-string-with-timezone-to-a-date-object-in-local -->
          <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
             {% set fr_schedule = collections.séances %}
            
            {% for item in fr_schedule|sort(attribute='data.time') %}
              {% if item.data.day == 1 %}
              <div class="row schedule-item">
              <div class="col-md-2"><time>{{ item.data.time.toLocaleString('fr', { dateStyle:'short', timeStyle: 'short', timeZone: 'America/New_York' }) }}</time></div>
              <div class="col-md-10">
                <h4>{{ item.data.title }}</h4>
                <p>{{ item.data.description }}</p>
                {% if item.data.recording %}
                <a target="_blank" href="{{ item.data.recording }}">lien</a>
                {% endif %}
              </div>
            </div>
              {% endif %}
            {% endfor %}
          </div>
          <!-- End Schdule Day 1 -->

          <!-- Schdule Day 2 -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">
            {% for item in fr_schedule %}
              {% if item.data.day == 2 %}
              <div class="row schedule-item">
              <div class="col-md-2"><time>{{ item.data.time }}</time></div>
              <div class="col-md-10">
                <h4>{{ item.data.title }}</h4>
                <p>{{ item.data.description }}</p>
                {% if item.data.url %}
                <a href="{{ item.data.url }}">lien</a>
                {% endif %}
              </div>
            </div>
              {% endif %}
            {% endfor %}
          </div>
          <!-- End Schdule Day 2 -->

          <!-- Schdule Day 3 -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-3">
            {% for item in fr_schedule %}
              {% if item.data.day == 3 %}
              <div class="row schedule-item">
              <div class="col-md-2"><time>{{ item.data.time }}</time></div>
              <div class="col-md-10">
                <h4>{{ item.data.title }}</h4>
                <p>{{ item.data.description }}</p>
                {% if item.data.recording %}
                <a href="{{ item.data.url }}">lien</a>
                {% endif %}
              </div>
            </div>
              {% endif %}
            {% endfor %}
          </div>
          <!-- End Schdule Day 3 -->

        </div>

      </div>

    </section><!-- End Schedule Section -->
{% endif %}
{% if settings.speakers %}
<!-- ======= Speakers Section ======= -->
    <section id="speakers">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Conférenciers principaux</h2>
          <p>Voici quelques-uns de nos conférenciers</p>
        </div>
        
        <div class="row">
        {% set speakers = collections.haut-parleurs %}
        {% for speaker in speakers %}
        
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img src="{{ speaker.data.image }}" alt="{{ speaker.data.name }}" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">{{ speaker.data.name }}</a></h3>
                <p>{{ speaker.data.description }}</p>
                
              </div>
            </div>
          </div>
        {% endfor %}
          
          
        </div>
      </div>

    </section><!-- End Speakers Section -->
{% endif %}
{% if settings.partners %}
    <!-- ======= Supporters Section ======= -->
    <section id="partners" class="section-with-bg">

      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Partners</h2>
        </div>
        
        <div class="row no-gutters supporters-wrap clearfix" data-aos="zoom-in" data-aos-delay="100">
          {% set partners = collections.partners %}
        {% for partner in partners %} 
        {# {% for name, item in partner %}
      <li>{{ name }}: {{ item }}</li>
   {% endfor %} #}
      
        <div class="col-lg-6 col-md-6 col-xs-6">
            <div class="supporter-logo">
              <img src="{{ partner.data.image }}" class="rounded img-fluid" alt="{{ partner.data.name }}">
            </div>
          </div>
        {% endfor %}
          
          

        </div>

      </div>

    </section><!-- End Sponsors Section -->
{% endif %}
    {% if settings.faq %}
    <!-- =======  F.A.Q Section ======= -->
    <section id="faq">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>FAQ</h2>
        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-9">

            <ul class="faq-list">
              {% for faq in fr_faq.items %}
              <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#faq{{loop.index}}">{{ faq.question }} <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq{{loop.index}}" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    {{ faq.answer }}
                  </p>
                </div>
              </li>
              {% endfor %}
              
            </ul>

          </div>
        </div>

      </div>

    </section><!-- End  F.A.Q Section -->
{% endif %}